.side
  .side_top
    .side_top_message_box
      .name ryousukemaehira
    .icon_box
      .icon_box1
        =link_to "www.google.com", class: "icon_box1_icon" do
          =fa_icon 'cog'
      .icon_box2
        =link_to "www.google.com", class: "icon_box2_icon" do
          =fa_icon 'edit'
  .side_bottom
    .side_bottom_box1
      .message 15px #ffffff
      .re_message 11px #ffffff
    .side_bottom_box2
      .message aaaaaaaaa
      .re_message まだメッセージはありません
    .side_bottom_box3
      .message sampleグループ
      .re_message まだメッセージはありません
