.side
  .side_top
    .class.side_top_message_box
      .class.name ryousukemaehira
    .class.icon_box
      .class.icon_box1
        =link_to "www.google.com", class: "icon_box1" do
          =fa_icon 'cog'
      .class.icon_box2
        =link_to "www.google.com", class: "icon_box2" do
          =fa_icon 'edit'

  .side_bottom
    .class.side_bottom_box1
      .class.message 15px #ffffff
      .class.re_message 11px #ffffff
    .class.side_bottom_box2
      .class.message aaaaaaaaa
      .class.re_message まだメッセージはありません
    .class.side_bottom_box3
      .class.message sampleグループ
      .class.re_message まだメッセージはありません
