.side
  .side_top
    .side_top__message-box
      .side_top__message-box__name ryousukemaehira
    .side_top__icon-box
      .side_top__icon-box__icon-left
        =link_to "www.google.com", class: "icon_box1_icon" do
          =fa_icon 'edit'
      .side_top__icon-box__icon-right
        =link_to  edit_user_path(current_user), class: "icon_box2_icon" do
          =fa_icon 'cog'
  .side-bottom
    .side-bottom__box1
      .message あああ ああああ
      .re_message いいい いいいい
    .side-bottom__box2
      .message うううううう
      .re_message まだメッセージはありません
    .side-bottom__box3
      .message sampleグループ
      .re_message まだメッセージはありません

