.contents.clearfix
  = render 'shared/side'
  .main
    .chat-header.papa
      .chat-header__left
        %h1.chat-header__left__title SAMPLEグループ
        .chat-header__left__sub_sample 12px #999999
      .chat-header__right
        =link_to edit_group_path(@group), class: "header_box2" do
          =image_tag("edit.gif")

    .main_center.papa
      .main_center__box1
        .user_name ryosukemaehira
        .time 2016/10/02
        .reply command Enterで送信したい感がある

    .main_bottom.papa
      = form_for ([@group,@message]) do |f|
        =f.text_field :body, class: "main_bottom__message-box", placeholder: "type a message"
        .main_bottom__message-box__icon
          = link_to "www.google.com", class: "bottom_icon" do
            = fa_icon 'picture-o'
        .main_bottom__sent-button
          =f.submit "sent"
