.contents.clearfix
  = render partial: "side"


  .main
    %header.papa
      .header_box1
        %h1.title SAMPLEグループ
        .sub_sample 12px #999999
      .header_box2
        =link_to "www.google.com", class: "header_box2" do
          =image_tag("edit.gif")

    .main_center.papa
      .main_center_box1
        .user_name ryosukemaehira
        .time2016 2016/10/02
        .reply なるほど
      .main_center_box1
        .user_name 16px Bold #434A54
        .reply 14px #434A54
      .main_center_box1
        .user_name ryosukemaehira
        .time 2016/10/02
        .reply command Enterで送信したい感がある

    .main_bottom.papa
      .bottom_message_box
        .bottom_message type a message
        .bottom_icon
          = link_to "www.google.com", class: "bottom_icon" do
            = fa_icon 'picture-o'
      .bottom_sent_button
        = link_to "www.google.com", class: "bottom_sent_button" do
          Send
