
html{
  height: 100vh;
}

body {
  margin: 0 auto;
  height: 100vh;
}

.side{
float: left;
height: 100vh;
}

.side_top{
  height:120px;
  width: 260px;
  background-color: #253141;
  padding: 0px 20px 0px 20px;
}

.side_top_message_box{
  height: 16px;
  .name{
  font-size: 16px;
  font-weight:Bold;
  color: $side-white-color;
  line-height: 120px;
  float: left;
  }
}

.icon_box{
float: right;
line-height: 90px;
font-size: 16px;
color: $main-white-color;

  .icon_box1{
  float: right;
  color: $main-white-color;
  font-size: 25px;
  margin: 0px 10px 0px 10px;

    .icon_box1_icon{
    color: $main-white-color;
    }
  }

  .icon_box2{
  float: right;
  font-size: 25px;
  margin: 0px 10px 0px 10px;

    .icon_box2_icon{
    color: $main-white-color;
    }
  }
}

.message{
    font-size: 15px;
    color: $side-white-color;
    padding-bottom: 5px;
}

.re_message{
font-size: 11px;
color: $side-white-color;
padding-bottom: 40px;
}

.side_bottom{
width: 260px;
height: calc(100vh - 120px);
background-color: #2f3e51;
padding: 20px 20px 0px 20px;
}


.contents{
  background-color: $main-white-color;
  margin: 0 auto;
  height: 100vh;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.main{
float: right;
height: 100%;
width: calc(100% - 300px);
}

header{
color:$main-white-color;
height: 120px;

  .header_box1{
    float: left;

    .title{
    font-size: 20px;
    color:#333333;
    padding: 35px 0px 15px 0px;
    }

    .sub_sample{
    font-size: 12px;
    color: color_999;
    }
  }

  .header_box2{
  float: right;
  line-height: 140px;
  }
}

.papa{
 padding: 0px 40px;
}

.main_center{
  height: calc(100% - 195px);
  background-color: #f8f8f8;

  .main_center_box1.user_name.reply.time{

  }
}

.user_name{
font-size: 16px;
color: $mian_name_black_color;
font-weight: Bold;
padding: 46px 0px 10px 0px;
}

.time{
font-size: 12px;
color: color_999;
}

.reply{
font-size: 14px;
font-family: $mian_name_black_color;
padding-bottom: 40px;
}

.user_name{
font-size: 16px;
color: $mian_name_black_color;
font-weight: Bold;
padding: 46px 0px 10px 0px;
}

.time{
font-size: 12px;
color: color_999;
}

.reply{
font-size: 14px;
font-family: $mian_name_black_color;
padding-bottom: 40px;
}

.main_bottom{
padding: 20px 40px 20px 50px;
background-color: #AAAAAA;
height: 55px;

  .bottom_message_box{
  background-color: $main-white-color;
  color: $mian_name_black_color;
  height: 50px;
  float: left;
  width: calc(100% - 135px);
  padding: 0px 10px;

    .bottom_message{
    line-height: 50px;
    font-size: 16px;
    float: left;
    }

    .bottom_icon{
    float: right;
    line-height: 50px;
    }
  }
  .bottom_sent_button{
  float: right;
  height: 50px;
  width: 100px;
  background-color: #38AEF0;
  color: $main-white-color;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  }
}
